<a href="https://colab.research.google.com/github/rzbsys/Genetic-Algorithm/blob/main/%EC%9C%A0%EC%A0%84_%EC%95%8C%EA%B3%A0%EB%A6%AC%EC%A6%98%EC%9D%84_%EC%82%AC%EC%9A%A9%ED%95%9C_%EA%B5%90%EC%8B%A4_%EB%B0%B0%EC%B9%98_%EC%B5%9C%EC%A0%81%ED%99%94.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **유전 알고리즘으로 교실 배치 최적화**

작성 : 대전대신고등학교 3학년 4반 전민국

인공지능 수학 수행평가

## **동기**

<img src="https://drive.google.com/uc?id=1tUd8joPMn0kmkQr9ZjnY8Xc4oR5-l3GL" height="300"/>

<img src="https://drive.google.com/uc?id=1hDMIZQGywTouC-5_xOqXiI2xzDXToGk9" height="300"/>


대전대신고등학교는 사진에서 볼 수 있다시피 가로로 매우 길다. 그러다 보니 끝에서 끝까지 이동하는데 보통 3분이 걸리게 되고 복도에 이동하는 사람이 많으면 많을 수록 시간이 늘어난다. 과거에는 학교의 끝에서 끝으로 이동하는 경우가 거의 없었지만, 고교학점제로 매 시간마다 이동수업이 진행되면서 이런 경우가 많아졌다. 


예를 들어 금요일을 예로 들면 `확률과 통계` 수업은 4층 왼쪽 끝에서 진행되고 `스포츠` 수업은 오른쪽 끝에 위치한 문으로 나가야 갈 수 있는 강당에서 진행된다. 또한, 6교시에 위치한 `화법과 작문`수업은 오른쪽 끝에서 진행되고, 그 다음 시간인 `심화영어`는 왼쪽 끝에서 진행된다.

## **해결 방법**

### **Brute Force(완전 탐색) 해결 방법**

In [4]:
import math
print(math.factorial(50))

30414093201713378043612608166064768844377641568960512000000000000

가장 먼저 떠오르는 방법은 모든 교실에 모든 수업을 배치해보는 방법일것이다. 그러나, 교실의 수가 N이라 할때 이 방법의 시간 복잡도는 $O(N!)$이 된다. 시간만 충분하다면 최적의 해법이 될 수도 있겠지만, 교실의 수와 수업의 수가 모두두 50개일때 가능한 경우의 수는 **304...(뒤 33자리 생략)**이다. 단순히 한번 검증하는데, $O(1)$이 걸린다고 가정하면 이를 3억으로 나누면 약 $8^{23}$초가 걸린다는 것을 알 수 있는데, 너무 오래걸린다.

또한 이는 앞서 말했듯, 단순히 배치가 가능한 교실의 수이기에 Djikstra 알고리즘과 같이 검증할 때 필요한 연산($O(NlogN)$)을 고려하여 계산하면 엄청난 시간이 걸린다는 것을 알 수 있다.

따라서 Brute Force 알고리즘으로는 이 문제를 해결할 수 없다.

### **유전 알고리즘을을 통한 해결방법**

위 상황을 보면 일단 모든 경우의 수를 볼 수 없다. 더 최적의 알고리즘이 있을 수 있지만, 내가 생각한 해결 방법은 문제를 Heuristics하게 푸는 것이다.

> **Heuristics이란?**</br>
불충분한 시간이나 정보로 인하여 합리적인 판단을 할 수 없거나, 체계적이면서 합리적인 판단이 굳이 필요하지 않은 상황에서 사람들이 빠르게 사용할 수 있게 보다 용이하게 구성된 간편추론의 방법이다.

윗 말 그대로 이 방법은 최적의 해를 구하진 못하고, 때로는 가장 안좋은 해답을 내놓을 수도 있다. 그러나 대부분의 상황에서 만족할만한 답을 내놓기 때문에 해결해야하는 문제 상황에 잘 맞는 알고리즘이다.

이 방법의 대표적인 알고리즘으로는 **유전 알고리즘(Genetic Algorithm)**이 존재한다. 유전 알고리즘은 이름 그대로 다윈이 발견한 유전 법칙을 컴퓨터로 모방한 것이다.



> **유전 알고리즘**<br/>
유전 알고리즘(GA)은 생물학적 진화를 모방하여 자연 선택 과정을 기반으로 하여 제약 및 비제약 최적화 문제를 풀 수 있는 방법입니다. 이 알고리즘은 개별 해의 모집단을 계속해서 수정합니다. 각 단계에서 유전 알고리즘은 현재 모집단에서 무작위로 개별 해를 선택하여 다음 세대의 해를 생성하는 부모 해로 사용합니다. 세대가 지나면서 모집단은 최적의 해로 "진화"하게 됩니다.

유전 알고리즘을 설명하는 원리 부분은 [이 글](https://github.com/handcraftsman/GeneticAlgorithmsWithPython/blob/master/ch01/guessPasswordTests.py)을 참고하였다. 

예시에서 해결하려 하는 문제는 비밀번호를

### **유전 알고리즘 예제**

> GeneSet : 유전자가 가질 수 있는 문자열의 수</br>
Target : 맞추려 하는 암호 </br>
OptimalFitness : 최적이라 생각하는 Fitness(Target과 얼마나 다른지지)의 값

In [ ]:
GeneSet = " abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ!.,"
Target = "Daeshin"
OptimalFitness = 0

#### **적합도 함수 생성**

유전자가 Target에 얼만큼 적합한지 판단하는 함수를 구현한다. 이 문제에서는 해밍거리를 사용하여 적합도 함수를 정의하였다.

In [ ]:
def GetFitness(guess):
    # 길이가 다르면 오류 발생 
    assert len(guess) == len(Target)

    # guess, target을 동시에 받아서 차이를 계산 
    return sum(1 for exp, tar in zip(guess, Target) if exp != tar)

#### **초기 염색체의 집합 생성**

유전 알고리즘에서 사용될 염색체를 class 자료형으로 저장한다.(구조체로 다루기 위해서이고 다른 이유는 없음.)

In [ ]:
class Chromosome:
    def __init__(self, genes, fitness):
        self.Genes = genes
        self.Fitness = fitness

target의 길이만큼 GeneSet에서 문자를 가져온후, 문자열로 변환한다. 그리고 GetFitness 함수를 통해 현재 이 유전자가 얼마나 적합한지 구하고 class 자료형으로 반환한다.

In [ ]:
# 주어진 length 길이만큼의 배열 생성
def GetChromosome(target):
    length = len(target)
    gene = random.sample(GeneSet, length)
    gene = ''.join(gene)
    fitness = GetFitness(gene)
    return Chromosome(gene, fitness)

아래는 후보가 후보(Chromosome)이 들어왔을 때, 그 유전자와 적합도를 출력하는 함수이이다.

In [ ]:
from google.colab import output

def display(candidate):
    output.clear()
    print("{}\t{}".format(candidate.Genes, candidate.Fitness))

#### **자식 생성**

특정 확률로 특정 유전자에 변이를 갖고 있는 자식을 생성하는 함수이다.

In [ ]:
def GetChild(parent):
    index = random.randrange(0, len(parent.Genes))
    
    # DeepCopy
    childGenes = list(parent.Genes)

    # newGene이 기존에 있던 문자와 같을 수 있기에 예외 처리 필요함.
    newGene, alternate = random.sample(GeneSet, 2)
    childGenes[index] = alternate if newGene == childGenes[index] else newGene
    
    genes = ''.join(childGenes)
    fitness = GetFitness(genes)
    return Chromosome(genes, fitness)

#### **해 구하기기**

아래는 실제 값을 구하는 코드로 Daeshin이라는 Target을 잘 구하는 모습을 볼 수 있다.

In [ ]:
NowGene = GetChromosome(Target)
display(NowGene)

# 현재 보고있는 NowGene의 Fitness값이 OptimalFitness보다 작을 때까지
while (OptimalFitness < NowGene.Fitness):
    # 돌연변이 생성
    ChildGene = GetChild(NowGene)
    # 만약 돌연변이가 더 안좋으면 뒷과정 넘김
    if (NowGene.Fitness < ChildGene.Fitness):
        continue
    display(ChildGene)
    NowGene = ChildGene

Daeshin	0

## **문제 적용**

위 예시를 바탕으로하여 이번 프로젝트에서 유전알고리즘을 적용해야할 문제상황은 다음과 같다.

> 선생님은 한 교실에서 계속 수업하신다.</br>
> 학생들은 각기다른 자신의 시간표에 맞추어 이동하여야 한다.</br>
> 이때 학생의 이동량을 최소한으로 하여야한다.</br>

In [ ]:
NUM_OF_CHROMOSOME = 20
SWAP_THRESHOLD = 0.4

### **유전자 생성**

가장 먼저 해야할 것은 염색체(내의 유전자)가 어떤 정보를 갖고 있어야 할지 정의하는 것이다. 이 문제를 해결하기 위해 유전자가 가지고 있어야 할 정보를 **'교실에서 무슨 수업이 이루어 지는가?'**로 설정하였다.

In [ ]:
class Chromosome():
    def __init__(self, gene, fitness):
        # gene은 각교실에서 어떤 수업이 진행되는지 알려주는 1차원 배열
        self.Gene = gene
        self.Fitness = fitness

### **적합도 함수 생성**

유전자의 적합도를 측정하기 위해서 교실에서 어떤 수업이 진행되는지 알고있을 때, 학생들의 시간표를 이용하여 학생들의 평균적인 이동량을 계산하여 사용하려한다.

다만, 이번 프로젝트에서 각 교실을 저장할 때에는 호수를 사용하지 않는다. 학교의 구조를 홈페이지에서 가져온 후 수업이 가능한 교실에 번호를 부여하였다. 그 결과는 사진과 같다. 이 작업을 통해 코딩할 때, 조금더 수월하게 작업할 수 있다는 장점이 있다.

<img src="https://drive.google.com/uc?id=1QrT9NREYEflMTJ8b0ZGYtZyqRqqRfr72" height="400"/>

아래 코드를 실행시키면, 프로젝트 진행을 위해 수집했던 데이터를 Colab 개발 환경으로 가져올 수 있다.

In [ ]:
# 교실간의 연결 관계를 나타내는 데이터
!wget -O graph.txt https://raw.githubusercontent.com/rzbsys/Genetic-Algorithm/main/graph.txt
# 학생들의 시간표 정보가 담긴 데이터
!wget -O timetable.csv https://raw.githubusercontent.com/rzbsys/Genetic-Algorithm/main/timetable.csv

--2022-07-09 14:29:37--  https://raw.githubusercontent.com/rzbsys/Genetic-Algorithm/main/graph.txt
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.110.133, 185.199.109.133, 185.199.111.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.110.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 595 [text/plain]
Saving to: ‘graph.txt’

graph.txt           100%[===================>]     595  --.-KB/s    in 0s

2022-07-09 14:29:37 (56.0 MB/s) - ‘graph.txt’ saved [595/595]

--2022-07-09 14:29:37--  https://raw.githubusercontent.com/rzbsys/Genetic-Algorithm/main/timetable.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 177166 (173K) [text/plain]
Saving to: ‘timetable.csv’

timetable.csv       100%[===================>] 173.01K  --.-KB/s    in 0.003s

2022-07-09 14:29:37 (51.7 MB/s) - ‘timetable.csv’ saved [177166/177166]

아래는 문제상황에 유전 알고리즘을 사용하기 위해 필요한 변수를 미리 정의해놓은 것이다. 의미는 아래와 같다.

> **MAX_NODE** : 최대 교실수(그래프의 노드)를 의미하며 교실간의 연결 관계를 표현하는 인접리스트 배열의 최대 크기를 정의할 때 사용한다.<br/>
> **INF** : Floyd-Warshall로 최단경로를 구할 때, 초기 Timestep에서 갈 수 없는 곳은 무한으로 표현하여야 하는데, 이 때의 값을 이 변수로 사용한다.</br>
> **MAX_CNT** : 시간표에 요일별로 몇 교시까지 표시되어있는지 저장되어있는 변수로, 시간표 데이터를 가져오고 요일별로 분류할 때 사용된다.

In [ ]:
MAX_NODE = 79
INF = 2000000
MAX_CNT = [7, 7, 4, 7, 7]

아래는 교실간의 연결정보가 아래와 같이 표현되어있을때, 이를 인접리스트로 변환해주는 함수이다.

```
1 2
2 3
5 3
...
```

In [ ]:
import numpy as np

def LoadInitGraph(max_cnt, source):
    graph = np.ones((max_cnt + 1, max_cnt + 1))
    # 모든 배열을 -1로 초기화
    # -1은 갈수 없음을 의미한다.
    graph = graph * -1
    
    with open(source, 'r') as f:
        while True:
            line = f.readline()
            if not line:
                break

            start, to = line.split(' ')
            start = int(start)
            to = int(to)
            # cost를 교실간의 거리로 업데이트하면 정확도가 높아질수 있음.
            # 추후 누군가 해주지 않을까...
            cost = 1

            # 양방향 그래프
            graph[start][to] = cost
            graph[to][start] = cost
    
    # 자기 자신으로 가는 최소비용은 0이다.
    for i in range(max_cnt + 1):
        graph[i][i] = 0

    return graph

SchoolGraph = LoadInitGraph(MAX_NODE, '/content/graph.txt')

# 이동 가능
print('62와 62 교실을 이동하는데 드는 비용 :', SchoolGraph[62][63])
# 이동 불가능
print('62와 64 교실을 이동하는데 드는 비용 :', SchoolGraph[62][64])

62와 62 교실을 이동하는데 드는 비용 : 1.0
62와 64 교실을 이동하는데 드는 비용 : -1.0

아래 함수는 Floyd-Warshall 알고리즘의 결과를 반환하는 것으로 3중 반복문을 사용하여 쉽게 최단경로를 구해준다.

In [ ]:
def FloydWarshall(graph, max_cnt):
    # 배열 초기화
    dist = np.where(graph == -1, INF, graph)
    
    # 3줄로 간단하게 모든 노드간의 최단경로를 찾아주는 FloydWarshall 알고리즘
    for i in range(max_cnt + 1):
        for t in range(max_cnt + 1):
            for j in range(max_cnt + 1):
                if dist[t][i] + dist[i][j] < dist[t][j]:
                    dist[t][j] = dist[t][i] + dist[i][j]

    return dist

DistGraph = FloydWarshall(SchoolGraph, MAX_NODE)
print('유도실에서 생명과학실까지 최단경로 :', DistGraph[1][19])

유도실에서 생명과학실까지 최단경로 : 4.0

아래 함수는 시간표를 불러온 후, 이를 요일별로 나누어주는 역할을 수행한다.

In [ ]:
import pandas as pd

def LoadTimetable(source):
    df = pd.read_csv(source, header=None)
    period_list = []
    for index, item in enumerate(MAX_CNT):
        start_index = sum(MAX_CNT[:index])
        temp = df[range(start_index, start_index + item)]
        period_list.append(temp)
    return period_list

Timetable  = LoadTimetable('/content/timetable.csv')
print('월요일 시간표 5개')
Timetable[0].head()

월요일 시간표 5개

,0,1,2,3,4,5,6
0,생활과 과학/225,한국지리/421,일본어Ⅰ/423,문학/321,수학Ⅰ/420,생활과 윤리/324,영어Ⅰ/422
1,사회문제 탐구/421,영어 회화/222,영어Ⅰ/314,문학/321,생활과 윤리/324,운동과 건강/-1,수학Ⅰ/413
2,영어Ⅰ/222,생활과 윤리/324,화법과 작문/321,수학Ⅰ/413,중국어Ⅰ/404,화학Ⅰ/423,문학/321
3,사회문제 탐구/421,수학Ⅰ/420,화법과 작문/321,문학/321,정치와 법/422,영어Ⅰ/314,운동과 건강/-1
4,수학Ⅰ/0,화학Ⅰ/423,문학/323,실용 수학/322,영어Ⅰ/314,지구과학Ⅰ/216,일본어Ⅰ/423

아래 함수는 시간표를 참고하여 모든 수업이 담겨있는 집합을 생성하고, 이를 Python의 Dict자료형으로 저장하는 역할을 수행한다.

In [ ]:
def ExtractSubject(timetable):
    subject = set()
    def extract(inp):
        if '-1' in inp:
            return
        subject.add(inp)

    for i in timetable:
        i.applymap(extract)
    
    res = dict()
    for index, item in enumerate(subject):
        res[item] = index
    return res

Subject = ExtractSubject(Timetable)

print('전체 수업 개수 :', len(Subject))
print('수업 목록 :', Subject)

전체 수업 개수 : 41
수업 목록 : {'창체/223': 0, '수학Ⅰ/420': 1, '화학Ⅰ/214': 2, '문학/323': 3, '창체/421': 4, '창체/324': 5, '인문학/302': 6, '창체/413': 7, '창체/321': 8, '생활과 윤리/324': 9, '영어Ⅰ/222': 10, '영미 문학 읽기/422': 11, '화학Ⅰ/423': 12, '한국지리/421': 13, '문학/223': 14, '창체/322': 15, '일본어Ⅰ/423': 16, '수학Ⅰ/413': 17, '인문학/415': 18, '실용 수학/322': 19, '영어Ⅰ/314': 20, '생명과학Ⅰ/216': 21, '물리학Ⅰ/211': 22, '창체/314': 23, '물리학Ⅰ/414': 24, '화법과 작문/321': 25, '정치와 법/422': 26, '영어Ⅰ/422': 27, '미술/114': 28, '창체/420': 29, '사회문제 탐구/421': 30, '지구과학Ⅰ/216': 31, '수학Ⅰ/0': 32, '문학/321': 33, '창의경영/312': 34, '공학 일반/407': 35, '영어 회화/222': 36, '사회문제 탐구/127': 37, '생활과 과학/225': 38, '중국어Ⅰ/404': 39, '창체/423': 40}

아래 코드드는 Dict로 변환한 자료를 참고하여 시간표를 모두 숫자로 바꾸는 역할을 수행한다.

In [ ]:
# 과목명을 위에서 정의한 과목 숫자로 변경
def ConvertStringToNumber(inp):
    try:
        return Subject[inp]
    except:
        return -1

IndexedTimetable = []
for i in range(len(Timetable)):
    IndexedTimetable.append(Timetable[i].applymap(ConvertStringToNumber))

print("번호가 부여된 월요일 시간표")
IndexedTimetable[0].head()

번호가 부여된 월요일 시간표

    0   1   2   3   4   5   6
0  38  13  16  33   1   9  27
1  30  36  20  33   9  -1  17
2  10   9  25  17  39  12  33
3  30   1  25  33  26  20  -1
4  32  12   3  19  20  31  16

In [ ]:
def GetFitness(gene):
    fitness = 0
    for timetable in IndexedTimetable:
        for subject_list in timetable.iterrows():
            for index in range(len(subject_list[1]) - 1):
                before_sub = subject_list[1][index]
                after_sub = subject_list[1][index + 1]

                if before_sub == -1 or after_sub == -1:
                    continue

                before_cls = gene[before_sub]
                after_cls = gene[after_sub]

                dist = DistGraph[before_cls][after_cls]

                fitness = (fitness + dist)
        return fitness

### **초기 염색체 생성 과정**

In [ ]:
def GenerateGenesis(max_len, num):
    population = []
    for _ in range(num):
        gene = np.random.choice(range(1, max_len + 1), max_len, replace=False)
        fitness = GetFitness(gene)
        population += [Chromosome(gene, fitness)]
    return population

### **다음세대 부모가 될 염색체의 선택 과정**

룰렛휠 방식을 사용하여 다음 세대의 유전자를 결정한다.

In [ ]:
def Selection(population_set):
    # 점수가 높을 수록 안좋은 유전자이기에 역수를 취해 바꾸어줌.
    fitness_list = [1 / population_set[i].Fitness for i in range(len(population_set))]
    total_fitness = np.sum(fitness_list)
    prob_list = fitness_list / total_fitness
    
    # 두 집단을 선택하고 두 집단을 Crossover할 예정
    progenitor_list_a = np.random.choice(list(range(len(population_set))), len(population_set), p=prob_list, replace=True)
    progenitor_list_b = np.random.choice(list(range(len(population_set))), len(population_set), p=prob_list, replace=True)
    
    progenitor_a = []
    progenitor_b = []
    for i in progenitor_list_a:
        progenitor_a += [population_set[i]]

    for i in progenitor_list_b:
        progenitor_b += [population_set[i]]
    
    return [progenitor_a, progenitor_b]

### **Crossver 연산 과정**

이 문제에서 사용된 유전자의 정보는 일종의 행렬로 중복될 수 없다. 따라서 유전 알고리즘에서 가장 많이 사용되는 일점교차를 사용할 수 없다. 이를 해결하기 위해 싸이클 교차(Cycle Crossover)를 사용하여 구현하였다.

In [ ]:
def CycleCrossover(chromosome1, chromosome2):
    gene1 = chromosome1.Gene
    gene2 = chromosome2.Gene
    child = [-1] * len(gene1)

    for index in range(len(child)):
        # 홀수번 일때마다 바꿔줌 
        if index % 2 == 1:
            gene1, gene2 = gene2, gene1

        search_point = index

        while True:
            child[search_point] = gene1[search_point]
            next = gene2[search_point]
            search_point = np.where(gene1 == next)[0][0]
            # index가 처음 시작 위치와 같다면 종료
            if search_point == index:
                break
    fitness = GetFitness(child)
    return Chromosome(child, fitness)

### **돌연변이이 연산 과정**

이 문제를 해결할 때 역시 유전자 배열의 순서를 고려해야 하기에 일반적으로 사용하는 Random Resetting이나 Inversion Mutation을 사용하는 것이 불가능하다. 따라서 Swap Mutation을 사용하였다.

In [ ]:
import random

def SwapMutation(chromosomes):
    gene = chromosomes.Gene
    
    percentage = random.random()
    if (percentage <= SWAP_THRESHOLD):
        point1, point2 = np.random.choice(range(len(gene)), 2, replace=False)
        gene[point1], gene[point2] = gene[point2], gene[point1]
    
    fitness = GetFitness(gene)
    return Chromosome(gene, fitness)

### **유전 알고리즘 수행**

In [ ]:
population = GenerateGenesis(len(Subject), NUM_OF_CHROMOSOME)
global_min = INF
min_chromosome = []
for dur in range(100):
    progenitor_list = Selection(population)
    population = []
    for a, b in zip(progenitor_list[0], progenitor_list[1]):
        population += [CycleCrossover(a, b)]

    for i in range(len(population)):
        population[i] = SwapMutation(population[i])


    population = sorted(population, key=lambda chromosome : chromosome.Fitness)
    print('%d번 : %d' % (dur + 1, population[0].Fitness))
    if global_min > population[0].Fitness:
        min_chromosome = population[0]
        global_min = population[0].Fitness
        print('update!')

1번 : 9650
update!
2번 : 9658
3번 : 9484
update!
4번 : 9367
update!
5번 : 9098
update!
6번 : 9161
7번 : 8982
update!
8번 : 8997
9번 : 9119
10번 : 9119
11번 : 9119
12번 : 9409
13번 : 9271
14번 : 9806
15번 : 9735
16번 : 9735
17번 : 9580
18번 : 9180
19번 : 9183
20번 : 9544
21번 : 9551
22번 : 9551
23번 : 9232
24번 : 8957
update!
25번 : 8766
update!
26번 : 8490
update!
27번 : 8875
28번 : 8875
29번 : 8896
30번 : 8648
31번 : 8817
32번 : 8868
33번 : 8842
34번 : 8803
35번 : 8506
36번 : 8376
update!
37번 : 8517
38번 : 8456
39번 : 8503
40번 : 8494
41번 : 8463
42번 : 8334
update!
43번 : 8284
update!
44번 : 8473
45번 : 8571
46번 : 8465
47번 : 8654
48번 : 8550
49번 : 8559
50번 : 8550
51번 : 8038
update!
52번 : 8003
update!
53번 : 8520
54번 : 8282
55번 : 8432
56번 : 8432
57번 : 8426
58번 : 8511
59번 : 8534
60번 : 8575
61번 : 8459
62번 : 8297
63번 : 8345
64번 : 8316
65번 : 8360
66번 : 8289
67번 : 8552
68번 : 8397
69번 : 8456
70번 : 8551
71번 : 8484
72번 : 8530
73번 : 8530
74번 : 8530
75번 : 8492
76번 : 8530
77번 : 8339
78번 : 8401
79번 : 8327
80번 : 8401
81번 : 8451
82번 : 8401
83번 : 8291
84번 : 8331
85번 : 8395
86번 : 8356
87번 : 8356
88번 : 8637
89번 : 8637
90번 : 8354
91번 : 8569
92번 : 8432
93번 : 8727
94번 : 8283
95번 : 8402
96번 : 8440
97번 : 8242
98번 : 8407
99번 : 8668
100번 : 8020

### **결과**

<img src="https://drive.google.com/uc?id=1QrT9NREYEflMTJ8b0ZGYtZyqRqqRfr72" height="400"/>

In [ ]:
before_ga = {'창체/223': 25, '수학Ⅰ/420': 62, '화학Ⅰ/214': 18, '문학/323': 44, '창체/421': 63, '창체/324': 46, '인문학/302': 40, '창체/413': 53, '창체/321': 42, '생활과 윤리/324': 46, '영어Ⅰ/222': 24, '영미 문학 읽기/422': 64, '화학Ⅰ/423': 66, '한국지리/421': 63, '문학/223': 25, '창체/322': 43, '일본어Ⅰ/423': 66, '수학Ⅰ/413': 53, '인문학/415': 55, '실용 수학/322': 43, '영어Ⅰ/314': 34, '생명과학Ⅰ/216': 19, '물리학Ⅰ/211': 15, '창체/314': 34, '물리학Ⅰ/414': 54, '화법과 작문/321': 42, '정치와 법/422': 64, '영어Ⅰ/422': 64, '미술/114': 3, '창체/420': 62, '사회문제 탐구/421': 63, '지구과학Ⅰ/216': 19, '수학Ⅰ/0': 43, '문학/321': 42, '창의경영/312': 32, '공학 일반/407': 76, '영어 회화/222': 24, '사회문제 탐구/127': 11, '생활과 과학/225': 28, '중국어Ⅰ/404': 75, '창체/423': 66}
gene = []
for i in Subject:
    gene += [before_ga[i]]
fitness = GetFitness(gene)
print('최적화 전 점수 :', fitness)
print('최적화 후 점수 :', min_chromosome.Fitness)

최적화 전 점수 : 12002.0
최적화 후 점수 : 8003.0

In [ ]:
# 354 = 학생수(추정)
print('학생 평균 이동거리 이동거리 :', min_chromosome.Fitness / 354)

학생 평균 이동거리 이동거리 : 22.60734463276836

In [ ]:
print('최적 교실 배치')
for sub, cls in zip(Subject, min_chromosome.Gene):
    print(sub, cls, sep=' : ')

최적 교실 배치
창체/223 : 25
수학Ⅰ/420 : 23
화학Ⅰ/214 : 29
문학/323 : 38
창체/421 : 10
창체/324 : 30
인문학/302 : 22
창체/413 : 34
창체/321 : 17
생활과 윤리/324 : 19
영어Ⅰ/222 : 7
영미 문학 읽기/422 : 4
화학Ⅰ/423 : 24
한국지리/421 : 37
문학/223 : 9
창체/322 : 16
일본어Ⅰ/423 : 20
수학Ⅰ/413 : 2
인문학/415 : 18
실용 수학/322 : 8
영어Ⅰ/314 : 21
생명과학Ⅰ/216 : 40
물리학Ⅰ/211 : 33
창체/314 : 14
물리학Ⅰ/414 : 26
화법과 작문/321 : 39
정치와 법/422 : 28
영어Ⅰ/422 : 6
미술/114 : 13
창체/420 : 32
사회문제 탐구/421 : 27
지구과학Ⅰ/216 : 1
수학Ⅰ/0 : 31
문학/321 : 35
창의경영/312 : 12
공학 일반/407 : 15
영어 회화/222 : 36
사회문제 탐구/127 : 41
생활과 과학/225 : 11
중국어Ⅰ/404 : 5
창체/423 : 3

## **한계점**

단순히 유전 알고리즘으로 교실을 최적화한다고 문제가 해결되지 않는다. 이와 관련하여 이 탐구의 한계점은 아래와 같다.

> 1. 위 예시에서는 중복된 교실이 없다고 가정하였지만, 실제 수업시간표에서는 다른 과목이 한 교실을 공유하여 사용할 수 있다.(교실의 수와 과목의 수가 일치하지 않을 경우 포함함)
> 2. 위치를 절대적으로 바꿀 수 없는 교실이 있을 수 있다. Ex) 수학실, 과학실

다만 이러한 알고리즘 역시 유전 알고리즘을 변형시키면 해결이 가능할 것으로 보인다.